<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav</title>
</head>
<body>
  <header>
    <nav th:fragment="nav">
      <a href="#" class="Logo">Logo</a>
      <ul>
        <li><a href="/index2">Home</a></li>
        <li><a href="/formulariopeliculas">Formulario Peliculas</a></li>
        <li><a href="/listapeliculas2">Lista Peliculas</a></li>
        <li><a href="/lista">Lista usuarios</a></li>
        <li><a href="/login?logout">Cerrar sesion</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>