<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404 Error Page</title>
      <link rel="stylesheet" th:href="@{/css/errorxd.css}">
   </head>
   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h4 data-text="Opps! Page not found">
               Uh.. pagina no encontrada
            </h4>
            <p>
              Perdona master, la proxima
            </p>
            <div class="btns">
               <a href="/index">return home</a>
               <a href=" ">report problem</a>
            </div>
         </div>
      </div>
   </body>
</html>