<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <link rel="stylesheet" th:href="@{/css/formpelis.css}">
  <title>Document</title>
</head>
<body>
  <header>
    <div th:insert="/layouts/navadmin :: nav"></div>
  </header>
  <form th:object="${Peli}" th:action="${editMode}?@{/modificarpeliculas}:@{/formulariopeliculas}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div class="container">
      <h2>Agregar una Pelicula</h2>
      <div class="row100">
        <div class="col">
          <div class="inputBox">
            <input th:field="*{titulo}" type="text" required="required">
            <span>Titulo de la pelicula</span>
          </div>
        </div>
        <div class="col">
          <div class="inputBox">
            <input th:field="*{genero}" type="text" required="required">
            <span>Genero de la pelicula</span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <div class="inputBox">
            <input type="text" required="required" th:field="*{duracion}">
            <span>Duración de la pelicula</span>
          </div>
        </div>
        <div class="col">
          <div class="inputBox">
            <input th:field="*{sala}" type="number" required="required">
            <span>Numero de la sala</span>
          </div>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <div class="inputBox textarea">
            <textarea th:field="*{descripcion}" required="required"></textarea>
            <span>Ingrese la descripción</span>
          </div>
        </div>
        <div class="col">
          <button class="contenedor">
            <label for="btn-file" th:text="${editMode}?'Agregue portada nuevamente':'Adjuntar img de la portada'"></label>
            <input type="file" name="file" id="file" accept="image/x-png,image/gif,image/jpeg,image/png,image/jpg" onchange="loadFile(event)">
          </button>
        </div>
      </div>
      <div class="row100">
        <div class="col">
          <button type="submit"> <span th:text="${editMode}?'Modificar':'Guardar'"></span> </button>
        </div>
      </div>
    </div>
  </form>
  <script th:src="@{/js/main.js}"></script>
</body>
</html>