<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <link rel="stylesheet" th:href="@{/css/portada.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <title>Inicio</title>
</head>
<body>
  <header>
    <div th:insert="/layouts/navcliente :: nav"></div>
  </header>
  <main>
	  <div class="pelicula-principal">
		  <div class="contenedor">
			  <h3 class="titulo">Supaidaman<h3>
			  <p class="descripcion">
				  La vida de Peter Parker no es como la de cualquier adolescente. El joven compagina su tiempo luchando contra el mal convertido en Spider-Man y estudiando en el instituto junto con la chica a la que quiere, Gwen.
			  </p>
			  <button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
			  <button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
		  </div>
	  </div> 


	  <div class="peliculas-recomendadas contenedor">
		  <div class="contenedor-titulo-controles">
			  <h3 style="color:white">Películas Recomendadas</h3>
			  <div class="indicadores"></div>
		  </div>

		  <div class="contenedor-principal">
			  <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

			  <div class="contenedor-carousel">
				  <div class="carousel">
					  <div class="pelicula">
						  <a href="#"><img src="/img/7.jpg" alt=""></a>
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/2.jpg" alt=""></a>						
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/3.jpg" alt=""></a>
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/9.jpg" alt=""></a>
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/15.jpg" alt=""></a>						
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/16.jpg" alt=""></a>						
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/7.jpg" alt=""></a>
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/2.jpg" alt=""></a>						
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/3.jpg" alt=""></a>
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/9.jpg" alt=""></a>
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/15.jpg" alt=""></a>						
					  </div>
					  <div class="pelicula">
						  <a href="#"><img src="/img/16.jpg" alt=""></a>						
					  </div>
				  </div>
			  </div>

			  <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
		  </div>
	  </div>
  </main>
	<footer>
    <div th:insert="/layouts/footer :: footer"></div>
  </footer>
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <script src="js/portada.js"></script>
	<script th:src="@{/js/main.js}"></script>
</body>
</html>