<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/listpelis.css}">
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/swiper-bundle.min.css}"/>
  <title>Document</title>
</head>
<body>
  <header>
    <div th:insert="/layouts/navcliente :: nav"></div>
  </header>
  <section class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide card" th:each="p : ${listaPelis}">
        <div class="imgBx">
          <img th:src="${'data:image/jpg;base64,'+p.portada}">
        </div>
        <div class="content">
          <div class="details">
            <h2 th:text="${p.titulo}"></h2><span class="aux2" th:text="${p.genero}"></span>
            <div class="data">
              <span class="aux"><h3 th:text="${p.duracion}"></h3><span>Duracion</span></span>
              <span class="aux"><h3 th:text="${p.sala}"></h3><span>Sala</span></span>
            </div>
            <div class="actionBtn">
              <button><a class="hero_cta" th:onclick="'confirmarComprar(\''+${p.id}+'\');'">Comprar</a></button>
              <button><a class="descrip" th:href="@{'/descripcion/'+ ${p.id}}">Descripción</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </section>
  <section class="modal" id="modalComprar">
    <div class="modal_container">
        <h2 class="modal_title" id="comprarModalTitulo">Comprar</h2>
        <p class="modal_paragraph">¿Seguro que quieres comprar una entrada para esta pelicula?</p>
        <form>
          <input type="text" id="identificadorDeEntrada">
        </form>
        <button type="button" th:onclick="comprarEntrada()">Comprar</button>
        <a href="#" class="modal_close">Cerrar Modal</a>
    </div>
  </section>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/swiper-bundle.min.js}"></script>
  <script th:src="@{/js/carru.js}"></script>
  <script th:src="@{/js/modalcompra.js}"></script>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>