<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/listpelis.css}">
  <title>Document</title>
</head>
<body>
  <header>
    <div th:insert="/layouts/nav :: nav"></div>
  </header>
  <div class="card">
    <div class="imgBx">
      <img src="/img/back_to_the_future.jpg">
    </div>
    <div class="content">
      <div class="details">
        <h2>Volver al futuro<br><span>Ciencia Ficcion</span></h2>
        <div class="data">
          <h3>142m<br><span>Duracion</span></h3>
          <h3>1<br><span>Sala</span></h3>
        </div>
        <div class="actionBtn">
          <button>Comprar</button>
          <button>Descripción</button>
        </div>
      </div>
    </div>
  </div>
  
  <script th:src="@{/js/main.js}"></script>
</body>
</html>